<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>Draft</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Allow Draft Native to transcribe your voice ideas.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Draft Native to record your ideas for transcription.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>EXPO_PUBLIC_ANTHROPIC_API_KEY</key>
	<string></string>
	<key>EXPO_PUBLIC_PEXELS_API_KEY</key>
	<string></string>
	<key>EXPO_PUBLIC_UNSPLASH_ACCESS_KEY</key>
	<string></string>
	<key>EXPO_PUBLIC_PINTEREST_SERVICE_URL</key>
	<string></string>
	<key>EXPO_PUBLIC_ARENA_ACCESS_TOKEN</key>
	<string></string>
	<key>EXPO_PUBLIC_GOOGLE_API_KEY</key>
	<string></string>
	<key>EXPO_PUBLIC_GOOGLE_SEARCH_ENGINE_ID</key>
	<string></string>
</dict>
</plist>
