<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-05-10T01:37:00Z</date>
	<key>WorkspacePath</key>
	<string>/Users/lucytrepanier/Code/capstone/swift-app/DraftNative.xcodeproj</string>
</dict>
</plist>
